@use "@/styles/_variables.scss" as *;
@use "@/styles/_mixins.scss" as mixins;

.themeToggle {
    border-radius: 5px;
}

.themeToggle_light {
    @include mixins.rwd-custom($width-lg) {
        background-color: rgba($background-color, 0.5);
    }
}

.themeToggle_dark {
    @include mixins.rwd-custom($width-lg) {
        background-color: rgba($background-color-dark, 0.5);
    }
}
